.Contenedor{
    background-color: red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.Contenedor2{
    background-color: yellow;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.Contenedor3{
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}






.item{
    background-color: blue;
    width: 100px;
    height: 100px;
    margin: 10px;
    font-size: 10px;
}