<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/cap">nosotros</a></li>
        <li><a href="/penarol">destacadas</a></li>
        <li><a href="/Campeondelsiglo">contacto</a></li>
       <li><a href="/contacto">contactos</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
