.destacados{
  font-family: "Jersey 10 Charted", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: blue;
    font-size:50px;
    margin-block: 5px;
}

#foto{
    border-radius:30px;
    border-color:white;
    border-width:17px;
    border-style: dotted;
    background-color: blue;
    padding-top: 50px;
    padding-left:600px;

}
.estilos{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b4ddb4+0,83c783+17,52b152+33,008a00+67,005700+83,002400+100;Green+3D+%231 */
background: linear-gradient(to bottom,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

    color:yellow;
    font-size:50px;
    margin-block:5px;
}

#titulo{
    box-shadow:0 0 50px #222;
    font-size:50px;
    color: white;
    background-color: blue;
    padding-left:600px;
}
